.tl-timeline p a {
  color: #02b875;
  text-decoration: none;
  border-bottom: 1px solid #02b875;
}

.tl-timeline p a:hover,
.tl-timeline p a:active {
  text-decoration: none;
  color: #02b875;
}

.tl-text h2.tl-headline, .tl-text h2.tl-headline-title {
  margin-bottom: 15px;
}

.tl-timeline p,
.tl-timeline ol,
.tl-timeline ul {
  font-size: 18px;
}
